{{ partial:layout/section }}
  
  {{ partial:components/media/visual 
    image="werkwinkel-visual-angebot" 
    alt="Werkwinkel" 
    width="1024" 
    height="460" }}

  {{ partial:layout/inner class="relative" }}


    <h1>
      Büro- und Gewerbeflächen<br>
      <em>Passend für jede Idee</em>
    </h1>

    {{ partial:layout/article }}
      <p>Dank einem innovativen, modularen Konzept bietet der Werkwinkel nicht nur Platz, sondern auch maximale Gestaltungsfreiheit. Das durchdachte Volumen des Gebäudes schafft vielseitige Nutzungsmöglichkeiten.</p>
      <p>Attraktive Büroflächen bis zu 600 m<sup>2</sup> sind unterteilbar und bieten Ihnen die Flexibilität die Räume nach Ihren Wünschen und Bedürfnissen einzurichten.</p>
      <p>Die bis zu 1‘100 m<sup>2</sup> grosse Produktionsfläche kann durch die Raumhöhe von 8.3 m auf drei Ebenen ausgebaut werden. Dank den Durchgangstüren über drei Etagen können Sie die Ebenen direkt zum Korridor erschliessen und so die Flächen optimal nutzen.</p>
      <p>Im Erdgeschoss steht ein hochwertig ausgebauter Aufenthaltsraum mit integrierter Gemeinschaftsküche zur Verfügung, der als Begegnungs- und Pausenraum genutzt werden kann. Ergänzt wird die Infrastruktur durch ein grosszügiges Parkplatzangebot sowie einem überdachten Velounterstand.</p>
    {{ /partial:layout/article }}

    <div class="mt-25 lg:mt-35 max-w-3xl">
      <h3 class="text-beige">Objektübersicht</h3>
      <table class="w-full mt-10 lg:mt-15 text-sm md:text-base">
        <thead class="border-b border-black">
          <th class="text-left md:pr-20">
            <span class="block sm:hidden">Nummer</span>
            <span class="hidden sm:block">Objektnummer</span>
          </th>
          <th class="text-left md:pr-20">
            <span class="block sm:hidden">Art</span>
            <span class="hidden sm:block">Objektart</span>
          </th>
          <th class="text-left md:pr-20">Etage</th>
          <th class="text-left md:pr-20">
            <span class="block sm:hidden">Fläche</span>
            <span class="hidden sm:block">Fläche in m<sup>2</sup></span>
          </th>
          <th class="text-center md:pr-20">
            <span class="block sm:hidden">Pläne</span>
            <span class="hidden sm:block">Grundrisse</span>
          </th>
          <th class="text-right">Anmeldung</th>
        </thead>
        <tbody>
          {{ collection from="objects" as="objects" }}
            {{ objects }}
              <tr class="even:bg-almond">
                <td class="py-5 md:py-7 md:pr-20">{{ number }}</td>
                <td class="md:pr-20">{{ type }}</td>
                <td class="uppercase md:pr-20">{{ floor }}</td>
                <td class="md:pr-20">{{ space }}</td>
                <td class="text-center md:pr-20">
                  <a 
                    href="/assets/downloads/werkwinkel-grundrisse-{{ number | lower }}.pdf"
                    target="_blank"
                    title="Download Grundrisse"
                    class="group">
                    <span class="inline-block font-bold bg-beige px-5 text-white relative">&darr;</span>
                  </a>
                </td>
                <td class="text-right">
                  {{ if state == "available" }}
                  <a 
                    href="{{ form_url }}" 
                    title="Anmeldung" 
                    target="_blank"
                    class="inline-flex items-center gap-x-10 bg-beige hover:bg-almond hover:text-beige text-sm md:text-sm text-white tracking-wide uppercase font-extrabold leading-none p-3 md:p-5 rounded-xs">
                    Bewerben
                  </a>
                  {{ /if }}
                  {{ if state == 'reserved' }}
                    <span class="text-sm md:text-sm uppercase">reserviert</span>
                  {{ /if }}
                  {{ if state == 'rented' }}
                    <span class="text-sm md:text-sm uppercase">vermietet</span>
                  {{ /if }}
                </td>
              </tr>
            {{ /objects }}
          {{ /collection }}
        </tbody>
      </table>
      <p class="text-sm mt-10 lg:mt-20">Preise auf Anfrage</p>
    </div>

    <div class="mt-25 lg:mt-35 w-full flex flex-col gap-y-15 sm:flex-row sm:gap-y-0 sm:gap-x-10 md:gap-x-15 lg:gap-x-20 mt-25 lg:mt-35">
      <div class="bg-beige text-white w-full p-10 lg:p-15">
        <h3 class="mb-5">Infrastruktur</h3>
        <ul>
          <li>Attraktiver, offener Grundriss mit ausgebauter Teeküche, helle Räumlichkeiten</li>
          <li>hochwertige Materialisierung im Grundausbau (Boden Parkett, Wände Abrieb, Decke Beton roh, Fensterfront mit 3-fach Isolierverglasung, Lamellenstoren elektronisch bedienbar)</li>
          <li>Innovativer Standort mit nachhaltiger, energieschonender Bauweise</li>
        </ul>
      </div>
      <div class="bg-almond text-black w-full p-10 lg:p-15">
        <h3 class="mb-5 text-beige">Zahlen und Fakten</h3>
        <ul>
          <li>Nutzlast bis zu 2’500kg/m²</li>
          <li>8.30 m Deckenhöhe vom Boden bis zur konstruktiven Deckenhöhe, davon unterteilbar mittels Einlageböden auf bis zu 3 Ebenen</li>
          <li>Möglichkeit für Installation einer Krananlage</li>
          <li>Direkte Zugangsmöglichkeiten zu Bürotrakt</li>
          <li>Grundinstallation Sanitär</li>
        </ul>
      </div>
    </div>

    <div class="mt-25 lg:mt-35 max-w-3xl">
      <a 
        href="https://werkwinkel.designraum.ch" 
        title="3D-Rundgang"
        target="_blank"
        class="relative group">
        <span class="absolute inset-0 bg-beige/60 group-hover:bg-transparent transition-all uppercase font-extrabold text-white p-10 lg:p-20 text-md md:text-lg lg:text-xl leading-[1.1]">
          3D-Rundgang
        </span>
        {{ partial:icons/link-external class="absolute top-1/2 -translate-y-1/2 right-1/2 -translate-x-1/2 text-white" }}
        {{ partial:components/media/image 
          image="werkwinkel-3d-ansicht" 
          alt="Werkwinkel" 
          width="900" 
          height="662" }}
      </a>
    </div>




  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
