{{ partial:layout/section }}
  
{{ partial:components/media/visual 
  image="werkwinkel-visual-projekt" 
  alt="Werkwinkel" 
  width="1024" 
  height="460" }}

  {{ partial:layout/inner }}
   
    <h1>
      Nachhaltigkeit trifft<br>
      <em>Charakter</em>
    </h1>

    {{ partial:layout/article }}
      <p>Die nachhaltige Holzbaukonstruktion mit ihrer prägnanten Lärchenschindelfassade, sichtbaren V-Trägern und Betonsockeln bildet ein architektonisches Bindeglied zwischen Industrie- und Wohnquartier. Sie verleiht dem Gebäude eine starke Identität und unterstreicht zugleich dessen repräsentativen Anspruch als sichtbares Aushängeschild für die zukünftigen Mieterinnen und Mieter.</p>
      
      <div class="my-25 lg:my-35">
        <a
         href="/assets/downloads/werkwinkel-baubeschrieb.pdf"
         title="Kurzbaubeschrieb"
         target="_blank"
         class="inline-flex items-center gap-x-10 bg-beige hover:bg-almond hover:text-beige transition-all text-white text-md md:text-lg tracking-wide uppercase font-extrabold leading-none px-20 py-10 rounded-sm">
         Kurzbaubeschrieb
        </a>
      </div>

    {{ /partial:layout/article }}

    <div class="mt-25 lg:mt-45 mb-15 lg:mb-20 grid grid-cols-2 gap-x-10 md:gap-x-15 lg:gap-x-20">
      {{ partial:components/media/image 
        image="werkwinkel-gewerbehalle-innen" 
        alt="Werkwinkel" 
        width="1024" 
        height="460"
        class="!h-full !object-cover" }}

      {{ partial:components/media/image 
        image="werkwinkel-wolfhausen-innen-3" 
        alt="Werkwinkel" 
        width="1024" 
        height="460"
        class="!h-full !object-cover" }}
    </div>



  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
