<header 
  class="bg-almond"
  :class="{ '!shadow-none': menu === true }">
  <div 
    :class="{ 'shadow-md': menu === true }"
    class="max-w-6xl mx-auto px-15 py-20 w-full h-full md:h-auto md:!shadow-none flex justify-between items-start md:items-end">
    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="{{ "Menü anzeigen" | trans }}"
      :class="{ 'is-active': menu === true }"
      class="group flex justify-center md:hidden">
      <span x-show="menu === false">
        {{ partial:icons/burger class="w-24 h-auto" }}
      </span>
      <span x-cloak x-show="menu === true">
        {{ partial:icons/cross class="w-20 h-auto" }}
      </span>
    </a>
    {{ partial:menu/wrapper }}
    <a 
      href="/"
      title="Startseite">
      {{ partial:icons/logo class="block h-30 md:h-40 xl:h-50 w-auto" }}
    </a>
  </div>
</header>