<header 
  class="bg-almond sticky top-0 z-50 md:relative"
  :class="{ '!shadow-none': menu === true }">
  <div 
    :class="{ 'shadow-md': menu === true }"
    class="max-w-6xl mx-auto px-15 py-20 lg:py-30 w-full h-full md:h-auto md:!shadow-none flex justify-between items-center md:items-end relative">
    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="{{ "Menü anzeigen" | trans }}"
      :class="{ 'is-active': menu === true }"
      class="group flex justify-center md:hidden order-2 md:order-1">
      <span x-show="menu === false">
        {{ partial:icons/burger class="w-24 h-auto" }}
      </span>
      <span x-cloak x-show="menu === true">
        {{ partial:icons/cross class="w-20 h-auto" }}
      </span>
    </a>
    {{ partial:menu/wrapper }}

    <a 
      href="https://werkwinkel.designraum.ch" 
      title="3D-Rundgang"
      target="_blank"
      class="block absolute top-22 sm:top-18 md:top-16 lg:top-30 right-80 sm:right-120 md:right-[250px] lg:right-[360px] z-50 size-90 sm:size-100 md:size-120 lg:size-150 hover:-rotate-6 transition-all group"
      :class="{ 'hidden': menu === true }">
      {{ partial:icons/splash-3d class="block w-full h-auto text-beige group-hover:text-black transition-all" }}
    </a>

    <a 
      href="/"
      title="Startseite">
      {{ partial:icons/logo class="block h-30 md:h-40 lg:h-50 w-auto order-1 md:order-2" }}
    </a>
  </div>
</header>